@model MyClass.Models.Menu

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-2">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-6">
                            <strong>Xác Nhận Xóa  Danh Mục Sản Phẩm</strong>
                        </div>
                        <div class="col-6 text-right">
                            <a href="@Url.Action("Edit", "Menu", new { id = Model.Id })" class="btn btn-sm btn-info"><i class="fa fa-edit"></i>Cập Nhật</a>
                            <a href="@Url.Action("Index", "Menu")" class="btn btn-sm btn-info"><i class="fa fa-arrow-left" aria-hidden="true"></i>Về Danh Sách </a>
                            <button class="btn btn-sm btn-danger" type="submit"><i class="fa fa-trash-alt"></i>Xóa</button>
                        </div>
                    </div>
                }
                <div class="card-body my-3">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width:120px">Tên trường</th>
                            <th>Noi Dung</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Name)</td>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                        </tr>

                        <tr>
                            <td> @Html.DisplayNameFor(model => model.ParentId)</td>
                            <td> @Html.DisplayFor(modelItem => Model.ParentId)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.Orders)</td>
                            <td> @Html.DisplayFor(modelItem => Model.Orders)</td>
                        </tr>
                     
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CreatedBy)</td>
                            <td> @Html.DisplayFor(modelItem => Model.CreatedBy)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.Created_At)</td>
                            <td> @Html.DisplayFor(modelItem => Model.Created_At)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.UpdateBy)</td>
                            <td> @Html.DisplayFor(modelItem => Model.UpdateBy)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.UpdatedAt)</td>
                            <td> @Html.DisplayFor(modelItem => Model.UpdatedAt)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.Status)</td>
                            <td> @Html.DisplayFor(modelItem => Model.Status)</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TableId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
